<div class="building">
    {{#each this.numberOfFloors as | number index |}}
    <Floor id="floor_{{index}}" style="height: {{this.floorHeight}}px;">
        <span style="display: flex; flex-direction: column; height: inherit; justify-content:center">
            {{#if (not-eq index 0)}}
            <Button style="margin-right: auto; margin-bottom: 0.5rem; width: 4rem; background-color: lightgreen"
                {{on "click" (fn this.moveLiftUp (concat 'floor_' index))}}>Up</Button>
            {{/if}}

            {{#if (not-eq index 4)}}
            <Button disabled style="margin-right: auto; width: 4rem;background-color: orange"
                {{on "click" (fn this.moveLiftDown (concat 'floor_' index))}}>Down</Button>
            {{/if}}
        </span>
    </Floor>
    {{/each}}
    {{yield}}
</div>